<script>
  import styles from '../styles.js';
</script>

<h2 class="{styles.h2} pb-4 border-b border-gray-300 mb-8">
  About
</h2>

<div class="prose">
  <p>
    This is a <a href="https://web0.small-web.org/" target="web0-manifesto">web0</a> Web-Application created by <a href="https://anzui.dev" target="anzui">me</a>.<br/>
    It does not track you and does not store any of your data on any server.<br/>
    It allows you to take your data wherever you like, whenever you like.
  </p>
  <p>
    The source code of this application can be found at <a href="https://codeberg.org/der_On/skatetricks-progression-app" target="source-code">https://codeberg.org/der_On/skatetricks-progression-app</a>.
  </p>
  <p>
    If you encounter bugs, have problems or ideas feel free to <a href="https://codeberg.org/der_On/skatetricks-progression-app/issues/new" target="new-issue">file an issue</a> or <a href="mailto: support@anzui.dev?subject=Skatetricks-Progression-App">write me a message</a>.
  </p>
</div>
