<script>
  import styles from '../styles.js';
  import { search } from '../stores.js';

  function handleResetButton() {
    $search = '';
  }
</script>

<form class="w-full flex items-center md:ml-0" action="#" method="GET">
  <label for="search-field" class="sr-only">Search</label>
  <div class="relative w-full text-gray-400 focus-within:text-gray-600">
    <div
      class="absolute inset-y-0 left-0 flex items-center pointer-events-none"
    >
      <i class="h-5 w-5 fas fa-search"></i>
    </div>
    <input
      id="search-field"
      class="block w-full h-full pl-8 pr-3 py-2 border-transparent text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-transparent sm:text-sm"
      placeholder="Search"
      type="text"
      bind:value={$search}
    />
  </div>

  <button
    class="{styles.buttonGrayIcon} ml-4"
    on:click={handleResetButton}
    title="Reset"
  >
    <i class="fas fa-times"></i>
  </button>
</form>
