<script>
  export let open;
  export let onClose;
</script>

<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
<div
  class="fixed inset-0 z-40 flex md:hidden { open ? '' : 'pointer-events-none' }"
  role="dialog"
  aria-modal="true"
>
  <!--
      Off-canvas menu overlay, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
  <div
    class="fixed inset-0 bg-gray-600 bg-opacity-75 transition-opacity ease-linear duration-300 { open ? 'opacity-100' : 'opacity-0' }"
    aria-hidden="{ open ? 'false' : 'true' }"
  ></div>

  <!--
      Off-canvas menu, show/hide based on off-canvas menu state.

      Entering: "transition ease-in-out duration-300 transform"
        From: "-translate-x-full"
        To: "translate-x-0"
      Leaving: "transition ease-in-out duration-300 transform"
        From: "translate-x-0"
        To: "-translate-x-full"
    -->
  <div
    class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-gray-800 transition-transform ease-in-out duration-300 transform { open ? 'translate-x-0': '-translate-x-full' }"
  >
    <!--
        Close button, show/hide based on off-canvas menu state.

        Entering: "ease-in-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in-out duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
    <div 
      class="absolute top-0 right-0 -mr-12 pt-2 transition-opacity ease-in-out duration-300 { open ? 'opacity-100': 'opacity-0' }"
    >
      <button
        type="button"
        class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        on:click={onClose}
      >
        <span class="sr-only">Close sidebar</span>
        <i class="h-6 w-6 text-white fas fa-times"></i>
      </button>
    </div>

    <div class="flex-shrink-0 flex items-center px-4">
      <img
        class="h-8 w-auto"
        src="./images/logo_white.svg"
        alt="Logo"
      />
    </div>
    <div class="mt-5 flex-1 h-0 overflow-y-auto">
      <nav class="px-2 space-y-1">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <slot name="mobile-items"></slot>
      </nav>
    </div>
  </div>

  <div class="flex-shrink-0 w-14" aria-hidden="true">
    <!-- Dummy element to force sidebar to shrink to fit close icon -->
  </div>
</div>

<!-- Static sidebar for desktop -->
<div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex-1 flex flex-col min-h-0 bg-gray-800">
    <div class="flex items-center h-16 flex-shrink-0 px-4 bg-gray-900">
      <img
        class="h-8 w-auto"
        src="./images/logo_white.svg"
        alt="Logo"
      />
    </div>
    <div class="flex-1 flex flex-col overflow-y-auto">
      <nav class="flex-1 px-2 py-4 space-y-1">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <slot name="desktop-items"></slot>
      </nav>
    </div>
  </div>
</div>