@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
}

body.gu-unselectable {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-overflow-scrolling: unset; /* disable kinetic scroll */
  -moz-overflow-scrolling: unset; /* disable kinetic scroll */
}
li.gu-mirror {
  list-style-type: none;
  opacity: 1;
}
